.data {
  margin: 0;
  white-space: pre;
}

.label {
  white-space: pre;
}

#registrerte-skattetrekk-dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.75em 1em;
  align-items: baseline;
  margin: 0;
}
